<!-- here you can get block class object by "$this" or "$block"  -->

<!-- here i'll use "$block" for get block object  -->

<?php  $_gridrecords = $block->getItems(); // get collection which we set in block class ?>
<?php if ($_gridrecords && count($_gridrecords)): ?>
    <div class="table-wrapper orders-history">
        <table class="data table table-order-items history" id="my-orders-table">
            <caption class="table-caption"><?php echo __('List Message') ?></caption>
            <thead>
                <tr>
                    <th scope="col" class="col id"><?php echo __('#') ?></th>
                    <th scope="col" class="col message"><?php echo __('Message') ?></th>
                    <th scope="col" class="col description"><?php echo __('Description') ?></th>
                    <th scope="col" class="col ">&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                <?php  // read collection as magento1.x and display in list 
                       foreach ($_gridrecords as $_gridrecord): ?>
                    <tr>
                        <td class="col id"><?php echo $_gridrecord->getId() ?></td>
                        <td class="col message"><?php echo $_gridrecord->getMessage() ?></td>
                        <td class="col description"><?php echo $_gridrecord->getDescription() ?></td>
                    </tr>
                <?php endforeach; ?>
            </tbody>
        </table>
    </div>
    <?php if ($block->getPagerHtml()): ?>
        <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); // for display pager block which we create in block file.   ?></div>
    <?php endif ?>
<?php else: ?>
    <div class="message info empty"><span><?php echo __('grid records not available.'); ?></span></div>
<?php endif ?>