<h1>Form page</h1>

<form action="<?php echo $block->getFormAction() ?>" method="post">
    <input name="message" type="text">
    <input name="description" type="text">
    <input type="submit" value="Send informations">
</form>